absl-py==0.9.0
anaconda-client==1.7.2
anaconda-navigator==1.9.12
appdirs==1.4.4
asn1crypto==1.3.0
astunparse==1.6.3
attrs==19.3.0
Automat==20.2.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bleach==3.1.0
blis==0.4.1
bravado==10.6.2
bravado-core==5.17.0
cachetools==3.1.1
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
clyent==1.2.2
cmdstanpy==0.4.0
colorama==0.4.3
conda==4.8.3
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
configparser==5.0.0
constantly==15.1.0
convertdate==2.2.1
crayons==0.4.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.20
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
entrypoints==0.3
ephem==3.7.7.1
fastcache==1.1.0
fbprophet==0.6
filelock==3.0.12
future==0.18.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.3
glob2==0.7
gmpy2==2.0.8
google-auth==1.7.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
h5py==2.10.0
holidays==0.10.2
hyperlink==20.0.1
idna==2.9
importlib-metadata==1.5.0
incremental==17.5.0
install==1.3.3
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itemadapter==0.1.0
itemloaders==1.0.2
jedi==0.14.1
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.15.1
jsonpointer==2.0
jsonref==0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-http-over-ws==0.0.8
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kaleido==0.0.3.post1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
korean-lunar-calendar==0.2.1
libarchive-c==2.8
lief==0.9.0
LunarCalendar==0.0.9
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlxtend==0.17.2
monotonic==1.5
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==1.0.0
msgpack-python==0.5.6
multitasking==0.0.9
murmurhash==1.0.2
mysql-connector==2.2.9
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
neptune-client==0.4.116
nltk==3.5
notebook==6.0.3
numexpr==2.7.1
numpy==1.19.0
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.2
pandocfilters==1.4.2
parsel==1.6.0
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.1.0rc1
portpicker==1.3.1
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
prophet==0.1.1.post1
Protego==0.1.16
protobuf==3.12.2
psutil==5.7.0
ptyprocess==0.6.0
py3nvml==0.2.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycosat==0.6.3
pycparser==2.20
PyDispatcher==2.0.5
PyGetWindow==0.0.8
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
PyMeeus==0.3.7
pymongo==3.10.1
PyMsgBox==1.0.7
pyOpenSSL==19.1.0
pyparsing==2.4.6
PyPDF2==1.26.0
pyperclip==1.8.0
pyreadline==2.1
PyRect==0.1.4
pyrsistent==0.15.7
PyScreeze==0.1.26
PySocks==1.7.1
pystan==2.19.1.1
python-dateutil==2.8.1
python3-xlib==0.15
PyTweening==1.0.3
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.7.1
QtPy==1.9.0
queuelib==1.5.0
regex==2020.7.14
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3987==1.3.8
rsa==4.0
ruamel-yaml==0.15.87
scikit-learn==0.23.1
scipy==1.4.1
Scrapy==2.3.0
scrapy-selenium==0.0.7
scrapy-splash==0.7.2
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
setuptools-git==1.2
simplejson==3.17.0
six==1.14.0
sklearn==0.0
smmap==3.0.4
soupsieve==2.0
spacy==2.3.2
srsly==1.0.2
strict-rfc3339==0.7
style==1.1.0
swagger-spec-validator==2.7.2
sympy==1.5.1
tables==3.6.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1
threadpoolctl==2.1.0
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
Twisted==20.3.0
typing-extensions==3.7.4.2
update==0.0.1
urllib3==1.25.8
virtualenv==20.0.23
w3lib==1.22.0
wasabi==0.7.1
wcwidth==0.1.8
webcolors==1.11.1
webdriver-manager==3.2.2
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.12.1
xgboost==1.2.0
xmltodict==0.12.0
yfinance==0.1.54
zipp==2.2.0
zope.interface==5.1.0
